*.log
*.oc
*.html
*.xref
*.4ct
*.log
*.dvi
*.aux
*.auxlock
*.tmp
*.ids
*.out
*.jax
*.ids
vectors/*
vectorFields/*
backgroundCalculus/*
jpg/*.vsd
jpg/*.vsdx
jpg/*lecture*.pdf
electromagnetics.pdf
sinusoidalSignals/*.pdf
complexNumbers/*.pdf
phasors/*.pdf
waves/*.pdf
smithChart/*.pdf
impedanceMatching/*.pdf
electrostatics/*.pdf
magnetostatics/*.pdf
changingEMFields/*.pdf
